<h2>View Students</h2>
<!--<a href="get-data">Load Students</a>
<div>
  {{# each items }}
    <article class="item">
      <div>Name: {{this.Name}}</div>
      <div>Name: {{this.Email}}</div>
      <div>Name: {{this.Student ID}}</div>
      <div>Name: {{this.FingerprintID}</div>
    </article>
  {{/each}}
</div>-->

<script type="text/javascript" src="jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="views.js"></script>

<table border=1>
	<tr><th>Name</th><th>Student ID</th></tr>
	<!-- Hardcode to demonstrate how it should look-->
	<tr><th>Caolan McBride</th><th>L00114436</th></tr>
	<tr><th>John Doe</th><th>L00112233</th></tr>
	<tr><th>Mary Doherty</th><th>L00113322</th></tr>
	<tbody id="table"></tbody>
</table>

<!--<div>
	<p *ngFor="let student of students"></p>
	{{student}}!!!!
</div>-->
